.header {
    position: sticky;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    border-radius: 24px;


    &:before {
        content: '';
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &-content {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 80px;
    }

    &-left {
        display: flex;
    }

    &-panel {
        display: flex;
    }

    &-navigation {
        display: flex;
        align-items: center;

    }

    &-burger {
        display: none;
    }

    &-logo {
        margin-left: 26px;
        position: relative;
        z-index: 3;
        font-size: 18px;
        color: #4754EB;
    }



    &-nav {
        position: relative;
        z-index: 3;
    }
    &-item {
        color: #808080;
        &:not(:first-child) {
            margin-left: 24px;
        }
    }

    &-functions {
        margin-left: 94px;
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
    }
    &-lang {
        color: #808080;
        position: relative;
        z-index: 3;
    }
    &-login {
        position: relative;
        z-index: 3;
        margin-left: 16px;
        font-size: 18px;

        display: flex;
        justify-content: center;
        align-items: center;

        height: 48px;
        width: 220px;
        background: #4754EB;
        border-radius: 16px;

        color: #fff;
    }
}